/* Sort Bar */

.sort-bar {
    max-width: 800px;
    margin: 0 auto;
}

.search-button {
    position: relative;
    top: 30px;
    left: 165px;
}

.clear-search {
    font-size: .9em;
}

.sort-divider {
    font-size: 24px;
}

/* UI Kit */

.uk-navbar-container {
    position: relative; 
    background-color: #dedede !important;
    transition: background-color .4s, box-shadow .4s, border .1s;
}

.uk-navbar-sticky {
    background-color: white !important;
    box-shadow: 0px 0px 20px #888888;
    border-top-style: solid;
    border-top-width: 12px;
    border-top-color: #705580;
}

.uk-select {
    margin: 0 10px;
}

.uk-card-small {
    z-index: 5;
}

.uk-search {
    margin: -4px 8px 0;
    width: 200px;
}

#js-scroll-trigger {
    display: none;
}

.uk-navbar-sticky #js-scroll-trigger {
    display: block;
    position: relative;
    top: -10px;
}

@media only screen and (max-width: 700px) {
    .uk-navbar-sticky #js-scroll-trigger {
        display: none;
    }
}