#loading {
    width: 100%;
    margin: 50px 0;    
    text-align: center;
}

.quote {
    max-width: 800px;
    margin: 40px auto;
}

.quote-author {
    margin: 15px 0 0 20px;
    font-size: 18px;
}

.quote-source {
    float: right;
}

.icon {
    position: relative;
    top: -2px;
}

.uk-modal {
    z-index: 5000;
}

.uk-modal-title {
    font-size: 24px;
    color: #444444;
}

.delete-drop {
    width: 165px;
    text-align: center;
    transform: translate(67px, 0px);
}